[program:{{ GUNICORN_SUPERVISOR_APP_NAME }}]
command={{ VIRTUALENV_DIRECTORY }}/bin/gunicorn -b {{ GUNICORN_SERVER_HOST }}:{{ GUNICORN_SERVER_PORT }} {{ GUNICORN_WSGI_MODULE }}
directory={{ DIRECTORY }}
environment=PYTHONPATH="{{ VIRTUALENV_DIRECTORY }}/lib/python2.7/site-packages",PATH="{{ DIRECTORY }}:{{ APP_NAME }}:%(ENV_PATH)s"
user={{ USER_NAME }}
password={{ USER_PASSWORD }}
numprocs=1
;process_name=%(program_name)s_%(process_num)02d
stdout_logfile={{ GUNICORN_APP_OUT_FILE }}
stderr_logfile={{ GUNICORN_APP_ERR_FILE }}
autostart=true
autorestart=true
startsecs=10

; Need to wait for currently executing tasks to finish at shutdown.
; Increase this if you have very long running tasks.

stopwaitsecs = 600

; When resorting to send SIGKILL to the program to terminate it
; send SIGKILL to its whole process group instead,
; taking care of its children as well.
killasgroup=true

; if rabbitmq is supervised, set its priority higher
; so it starts first
priority=995
