server {
        listen   80;
        listen [::]:80;

        server_name {{ DOMAIN_NAME }};

        client_max_body_size {{ MAX_BODY_SIZE }};

		    location /static/ {

                alias {{ STATIC_DIRECTORY }};
        }

        location / {
                access_log off;
                proxy_set_header X-Real-IP  $remote_addr;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_set_header Host $host;
                proxy_pass {{ FORWARDED_PROTOCOL }}://{{ FORWARDED_HOST }}:{{ FORWARDED_PORT }};
        }
}
