server {
    listen 80;
    listen [::]:80;
    
    server_name {{ DOMAIN_NAME }};
    
    client_max_body_size {{ MAX_BODY_SIZE }};    

    location ~ \.php$ {
            try_files $uri =404;
            fastcgi_pass unix:/var/run/php5-fpm.sock;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include fastcgi_params;

    }

    location /phpmyadmin/ {
                            alias /usr/share/phpmyadmin/;

                            index  index.html index.htm index.php;

                            location ~ ^/phpmyadmin(.+\.php)$ {
                            alias /usr/share/phpmyadmin$1;
                            fastcgi_pass unix:/var/run/php5-fpm-phpmyadmin.sock; #OR fastcgi_pass 127.0.0.1:9000;
                            fastcgi_param SCRIPT_FILENAME /usr/share/phpmyadmin$1;
                            include fastcgi_params;
                            fastcgi_intercept_errors        on;
                    }
    }

    
    location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ =404;
                # Uncomment to enable naxsi on this location
                # include /etc/nginx/naxsi.rules
    }
}